{% extends "base.html" %}
{% load static %}

{% block title %}问候问答{% endblock %}

{% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<link rel="stylesheet" href="{% static 'css/codehilite.css' %}" />
<link href="{% static 'css/gpt.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<input class="mdui-hidden" id="input-username" value="{{user.username}}">
<input class="mdui-hidden" id="input-avatar" value="{{user.avatar.url}}">

<br />

<div class="mdui-tab mdui-tab-centered mdui-tab-full-width" mdui-tab>
    <a id="button-gpt3" class="mdui-ripple">GPT-3.5-Turbo</a>
    <a id="button-gpt4" class="mdui-ripple">GPT-4</a>
</div>

<div class="mdui-container">
    <div class="mdui-row">
        <div class="mdui-col-xs-11 mdui-col-offset-md-2 mdui-col-md-8">
            <div class="message-container">
                {% for i in messages %}
                <div class="mdui-container message">
                    <div class="mdui-row message-header mdui-valign">
                        <div class="mdui-col-md-1 mdui-col-xs-2">
                            {% if i.role == 'user' %}
                            <img class="message-avatar" src="{{ user.avatar.url }}">
                            {% else %}
                            <img class="message-avatar message-avatar-gpt-unknown" src="{% static 'images/gpt.svg' %}">
                            {% endif %}
                        </div>
                        <div class="mdui-col-md-11 mdui-col-xs-10">
                            <span class="message-username">
                                {% if i.role == 'user' %}
                                {{ user.username }}
                                {% else %}
                                ChatGPT
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    {% if i.role == 'user' %}
                    <div class="mdui-row message-content mdui-col-offset-xs-1">{{ i.content }}</div>
                    {% else %}
                    <div class="mdui-row message-content mdui-col-offset-xs-1">{{ i.content | safe }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="mdui-container">
    <div class="mdui-row mdui-valign">
        <div class="mdui-col-xs-11 mdui-col-offset-md-2 mdui-col-md-8">
            <div class="mdui-textfield">
                <textarea class="mdui-textfield-input" placeholder="在此提问 . . . . . ." id="input-prompt"></textarea>
            </div>
        </div>
        <div class="mdui-col-xs-1">
            <button class="mdui-btn mdui-ripple mdui-btn-icon" id="button-submit">
                <i class="mdui-icon material-icons">send</i>
            </button>
        </div>
    </div>
    <div class="notice">上下文仅记忆过去四轮对话 基于OpenAI 遵循OpenAI API的使用协议 符合SOC 2 Type 1标准</div>
</div>
<script>
    function wrap_content(data, username, avatar) {
        return $(`<div class="mdui-container message">
                    <div class="mdui-row message-header mdui-valign">
                        <div class="mdui-col-md-1 mdui-col-xs-2">
                            <img class="message-avatar" src="${avatar}">
                        </div>
                        <div class="mdui-col-md-11 mdui-col-xs-10">
                            <span class="message-username">${username}</span>
                        </div>
                    </div>
                    <div class="mdui-row message-content mdui-col-offset-xs-1">${data}</div>
                    </div>`);
    }

    var model = 'gpt-3.5-turbo';
    $('#button-gpt3').click(function () {
        model = 'gpt-3.5-turbo';
    });
    $('#button-gpt4').click(function () {
        model = 'gpt-4';
        mdui.snackbar('使用GPT-4模型需要特殊权限,如果您未获取过权限请联系AenStarAX或MoveToEx');
    });
    $('#button-submit').click(ask);
    $('#input-prompt').keydown(e => {
        if (e.ctrlKey && e.key == 'Enter') {
            $('#button-submit').click();
        }
    })

    function scrollmes() {
        var elem = document.querySelector('.message-container');
        elem.scroll(
            {
                top: elem.scrollHeight,
                behavior: "smooth",
            }
        );
    }

    function ask() {
        input = $("#input-prompt").val();
        $('#input-prompt').val('');
        if (input.trim().length == 0) {
            mdui.snackbar('提问不可以为空 ！');
            return;
        }
        var userinput = wrap_content('<xmp>' + input + '</xmp>', $('#input-username').val(), $('#input-avatar').val());
        userinput.find('.message-content').text(input);
        userinput.appendTo($('.message-container'));
        scrollmes();
        var elem = wrap_content(`<div class="mdui-spinner" style="height: 20px; width: 20px;"></div>`, 'ChatGPT', "{% static 'images/gpt.svg' %}");
        if (model == 'gpt-3.5-turbo') {
            elem.find('.message-avatar').addClass('message-avatar-gpt3');
        }
        else if (model == 'gpt-4') {
            elem.find('.message-avatar').addClass('message-avatar-gpt4');
        }
        elem.appendTo($('.message-container'));
        scrollmes();
        mdui.mutation();
        $.ajax({
            type: 'POST',
            url: '{% url "gpt:gpt" %}',
            data: {
                'prompt': input,
                'model': model
            },
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            beforeSend: () => {
                $('#input-prompt').attr('disabled', 'true');
                $('#button-submit').attr('disabled', 'true');
            },
            success: data => {
                elem.find('.message-content').html(data.content);
                scrollmes();
            },
            error: (xhr, text) => {
                elem.find('.message-content').html(`<div class="message-error">
                    <i class="mdui-icon material-icons">error</i>${xhr.status}: ${xhr.responseText}
                </div>`);
            }
        }).always(() => {
            $('#button-submit').removeAttr('disabled');
            $('#input-prompt').removeAttr('disabled');
        });
    }
</script>
{% endblock %}