.message-container {
    height: 508px;
    margin: 5% 0 5% 0;
    border: 1px solid #cccccc;
    padding: 12px 3px 12px 3px;
    width: 100%;
    max-height: 612px;
    overflow: scroll;
}

.message-avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.message-avatar-gpt3 {
    background-color: #3dc181;
}

.message-avatar-gpt4 {
    background-color: #9d61e5;
}

.message-username {
    font-size: 18px;
    font-weight: 500;
    margin: 0 12px 0 12px;
}

.message {
    margin-top: 8px;
    margin-bottom: 8px;
}

.status-indicator {
    position: fixed;
    right: 16px;
    bottom: 8px;
}

.notice {
    color: rgba(128, 128, 128, 0.399);
    text-align: center;
    font-size: 12px;
}