/* site owner */
.user-title-style-owner {
    background-color: gold;

}

/* site administrator */
.user-title-style-admin {
    background-color: purple;
    color: white;
}

/* special user */
.user-title-style-sp {
    background-color: darkred;
    color: white;
}

.user-title-style-normal {
    background-color: black;
    color: white;
}

.user-title-style-movetoex {
    background-color: skyblue;
    color: black;
    font-weight: 300 !important;
    animation: rotation 2s infinite cubic-bezier(1, 0, 0, 1);
}

.user-title-style-aenstarax {
    background-color: rgba(235, 135, 235, 0.204);
    color: rgb(231, 39, 39);
    font-weight: bolder !important;
    animation: incline 0.5s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes floating {
    from {
        transform: translatey(-5px);
    }
    to {
        transform: translatey(5px);
    }
}

@keyframes colorful-background {
    from {
        background-color: white;
    }

    12.5% {
        background-color: red;
    }

    25% {
        background-color: orange;
    }

    37.5% {
        background-color: yellow;
    }

    50% {
        background-color: green;
    }

    62.5% {
        background-color: cyan;
    }

    75% {
        background-color: blue;
    }

    87.5% {
        background-color: purple;
    }

    to {
        background-color: white;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes incline {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(45deg);
    }
}

.user-title {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
}