{% extends "base.html" %}
{% load static %}

{% block title %}编辑{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="mdui-container" style="margin-top: 16px;">
    <div id="editor" style="width: 100%; height: 600px">
    </div>

    <div class="mdui-row">
        <button class="mdui-btn mdui-center" id="submit-button">
            <i class="mdui-icon material-icons">check</i>
            发布
        </button>
    </div>
</div>

<form class="mdui-hidden" method="post" action="{% url 'blog:edit' blog.id %}">
    {% csrf_token %}
    <input name="title" id="title-input">
    <input name="tags" id="tags-input">
    <textarea name="content" id="content-input"></textarea>
</form>

<script>
    let editor;
    $(function () {
        require.config({
            paths: {
                "vs": '{% static "node_modules/monaco-editor/min/vs" %}'
            }
        });
        value = `{{ blog.content | escapejs }}`;
        require(['vs/editor/editor.main'], function () {
            editor = monaco.editor.create(document.getElementById('editor'), {
                value: value,
                autoClosingBrackets: 'never',
                language: 'markdown'
            });
        });
        $('#submit-button').click(e => {
            var content = editor.getValue();
            $('#content-input').val(content);
            $('form').submit();
        });
    });
</script>
<script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
<script src="{% static 'node_modules/monaco-editor/min/vs/loader.js' %}"></script>
{% endblock %}